<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    
    
</head>
<body>

    <!-- Updated Include Header -->
    <div th:replace="~{fragments/header :: header}"></div>
    
    <div >
        <div class="login-body">
        <div class="container">
            <h2>Login</h2>
            <form action="/login" method="post" class="login-form">
                <div class="form-group">
                    <div >
                        <label for="primaryEmail">Email:</label>
                        <input type="text" name="primaryEmail" id="primaryEmail" required>
                    </div>
                    <div >
                        <label for="password">Password:</label>
                        <input type="password" name="password" id="password" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="submit" value="Login" class="submit-button">
                    </div>
                </div>
                
                <div class="error-message">
                    <p th:if="${errorMessage}" th:text="${errorMessage}"></p>
                </div>
            </form>
            <p class="register-link">Don't have an account? <a href="/register">Register here</a></p>
        </div></div>
    </div>
</body>
</html>
